<div>
  <h2>Delete Patient</h2>

  <%= form_for(:patient, :url => {:action => 'destroy', :id => @patient.id}) do |f| %>

    <p>Are you sure you want to permanently delete this Patient?</p>

    <p><%= @patient.medical_record_num %></p>

    <div>
      <%= submit_tag("Delete Patient") %>
    </div>

  <% end %>
</div>
