@import "bootstrap";

// Place all the styles related to the Patient controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* My code */

.centerAlign {
	width: 400px;
	position: relative;
	left: 250px;
}

.centerAlign2 {
	width: 400px;
	position: relative;
	left: 370px;
}

label {
	text-align: left;
}

.button {
	float: right;
	clear: both;
}

.button2 {
	position: relative;
	top: 45px;
}

.moveRight {
	float: right;
	clear: both;
}

/* Hartl Tutorial */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	padding-top: 100px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	
    h1 {
		margin-bottom: 10px;
	}
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

.p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: #FFFFFF;
  text-decoration: none;
}

.p:hover{
	text-decoration: none;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	
    a {
		color: $gray;
	}

	&:hover {
		color: $grayDarker;
	}
	
	small {
		float: left;
	}

	ul {
		float: right;
		list-style: none;
		
		li {
			float: left;
			margin-left: 10px;
		}
	}
}



/* Borrowed from Lynda Ruby on Rails tutorial */

.field_with_errors { 
}

.field_with_errors label { 
	color: #AA0000; 
}

.field_with_errors input { 
	border: 1px solid #AA0000;
}

#errorExplanation { 
	width: 400px; 
	padding: 0; 
	margin: 0 auto 1.5em;
  	border: 1px solid #AA0000; 
	background-color: #FFFFFA; 
	font-size: 12px; 
	border-radius: 10px;
}

#errorExplanation h2 { 
	font-weight: bold; 
	font-size: 12px;
  	padding: 5px 5px 5px 15px; 
	margin: 0; 
	width: 380px;
  	background-color: #AA0000; 
	color: #FFFFFF; 
}

#h3Error { background-color: #FFFFAA; }
#errorExplanation p { color: #333333; margin: 0; padding: 3px 0.5em; }
#errorExplanation ul { margin-top: 0; }
#errorExplanation ul li { list-style: square; }

/* Bootstrap */

.panel-default{
	border-color:#ddd
}

.panel-default .panel-heading{color:#333;background-color:#f5f5f5;border-color:#ddd}
.panel-default .panel-heading .panel-collapse .panel-body{border-top-color:#ddd}