<% if object && object.errors.size > 0 %>
  <div id="errorExplanation">
    <h3 id="h3Error"><%= pluralize(object.errors.size, "error") %> occured</h3>
    <p>There were problems with the following fields:</p>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>